@model IEnumerable<c_final_capstone_v2.Models.Review>
@using c_final_capstone_v2.Models
@{
    ViewBag.Title = "SuccessStories";
}
@{ Cat cat = new Cat();}
<h2>Cat Employment Success Stories</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Images/@Html.DisplayFor(modelItem => item.cat.PictureId)" class="listImg2" />
            </td>
            <td>
                <p style="font-size:x-large">@Html.DisplayFor(modelItem => item.cat.Name)</p>
            </td>
            <td>
                <p style="font-size:x-large">@Html.DisplayFor(modelItem => item.SuccessStory)</p>
            </td>
            @if (Session["isAdmin"] == null)
            {
                <td></td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }

</table>
