@model c_final_capstone_v2.Models.Staff
@{

    ViewBag.Title = "UserHome";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @* Fix issue where it crashes after returning to UserHome *@
            <h2 style="text-align:center">Welcome @Model.Username</h2>
            <img src="~/Content/img/layout_banner.png" class="centerImage" />

            <ul class="noBullets staffBar">

                <li class="stafflinks">|<a>@Html.ActionLink("Add Success Stories", "CreateSuccess", "Review")</a>|</li>
                <li class="stafflinks">|<a>@Html.ActionLink("Staff Cat List", "CatList", "Home")|</a></li>
                @if (Model.IsAdmin)
                {
                    <li class="stafflinks">|<a>@Html.ActionLink("Add New Staff Member", "NewStaffView")</a>|</li>
                    <li class="stafflinks">|<a>@Html.ActionLink("Add Cat", "AddCat", "Home")</a>|</li>
                }
            </ul>
        </div>
    </div>
</div>