@model c_final_capstone_v2.Models.Cat
@using c_final_capstone_v2.Models;
@using c_final_capstone_v2.DAL;
@{
    ViewBag.Title = "ReviewList";
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Path.GetFileName(Model.PictureId);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);

            Model.PictureId = newFileName;
        }
    }
}
<br />
<br />
<br />
<body>

    <h2>@Model.Name</h2>
    <img class="viewImg" src="~/Images/@Model.PictureId" />

    <h4>Resume:</h4>
    <p>
        @Model.Name is a
        @Html.DisplayFor(model => Model.Age) year old

        @Html.DisplayFor(model => Model.Colors)

        @Html.DisplayFor(model => Model.HairLength)-haired cat.
    <p>@Model.Name is proficient at:</p>
    <ul>
        @foreach (string skill in Model.Skills)
        {
            <li>@skill</li>
        }

    </ul>

    <p>This cat has prior experience in "@Html.DisplayFor(model => Model.PriorExperience)" Whatever that means...</p>
   
    <br />

    <p>
        @if (Session["isAdmin"] != null && (bool)Session["isAdmin"])
        {
            @Html.ActionLink("See Reviews", "AllReviews", "Review", new { id = Model.ID }, null)
        }
        @* PArtial View of list of review here *@ <partial name="_CatReviews">
    <h4>Reviews:</h4>
    @foreach (Review review in ViewBag.ReviewList)
    {
        if (review.Rating != 0)
        {
            <div>
                Title: @Html.DisplayFor(modelItem => review.Title)
                <br />
                User: @Html.DisplayFor(modelItem => review.UserID)
                <br />
                <br />
                Rating: @Html.DisplayFor(modelItem => review.Rating)
                <br />
                @if (review.ReviewComment != null)
                {
                    @:Message: @Html.DisplayFor(modelItem => review.ReviewComment)
                }
            </div>
            <br /><br />
        }
    }
</partial>
        @*foreach for the reviews for this cat*@
        @*@if (Session["isAdmin"] == null || !(bool)Session["isAdmin"])
            {
                @Html.ActionLink("Details", "ViewCat", new { id = item.ID })
            }*@
        @*@if((bool)Session["isAdmin"])
            {
                @Html.ActionLink("Edit Review", "ReviewToEdit", new { id = item.ID })
                @Html.ActionLink("Delete Review", "DeleteReview", new { id = item.ID })
                @Html.ActionLink("Review", "CatReviews", new { id = item.ID })
            }*@
    </p>

</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<head>
    <title>Image Upload</title>
</head>


@if (Session["isAdmin"] != null && Session["Name"] != null)
{ 
    <form action="" method="post" enctype="multipart/form-data">
        
        <fieldset>
            <div>

                Upload Image: @Html.DisplayFor(model => Model.PictureId)
                <input type="file" name="pictureId" />
                <input type="submit" value="Upload" />
                <br />
            </div>

        </fieldset>
        @Html.ActionLink("Review this Cat!", "HereYeBeginTheReviewProcess", "Review", new { id = Model.ID }, null)@*TODO turn into btn*@
    </form>
}