@model c_final_capstone_v2.Models.Cat
@using c_final_capstone_v2.Models;
@using c_final_capstone_v2.DAL;
@{
    ViewBag.Title = "ViewCat";
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Path.GetFileName(Model.PictureId);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);

            Model.PictureId = newFileName;
        }
    }
}
<br />
<br />
<br />
<body>

    <h2>@Model.Name</h2>
    <img class="viewImg" src="~/Images/@Model.PictureId" />

    <h4>Resume:</h4>
    <p>
        @Model.Name is a
        @Html.DisplayFor(model => Model.Age) year old

        @Html.DisplayFor(model => Model.Colors)

        @Html.DisplayFor(model => Model.HairLength)-haired cat.
        @Model.Name is proficient at

        @Html.DisplayFor(model => Model.Skills)

        and has prior experience in "
        @Html.DisplayFor(model => Model.PriorExperience)". Whatever that means...
        <br />
    </p>
    <p>@* PArtial View of list of review here *@ <partial name ="_CatReviews">This is the Partial View</partial>
        @*foreach for the reviews for this cat*@
        @*@if (Session["isAdmin"] == null || !(bool)Session["isAdmin"])
        {
            @Html.ActionLink("Details", "ViewCat", new { id = item.ID })
        }*@
        @*@if((bool)Session["isAdmin"])
        {
            @Html.ActionLink("Edit Review", "ReviewToEdit", new { id = item.ID })
            @Html.ActionLink("Delete Review", "DeleteReview", new { id = item.ID })
            @Html.ActionLink("Review", "ReviewCat", new { id = item.ID })
        }*@
    </p>

</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




<head>
    <title>Image Upload</title>
</head>
<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <div>

            Upload Image: @Html.DisplayFor(model => Model.PictureId)
            <input type="file" name="pictureId" />
            <input type="submit" value="Upload" />
            <br />
        </div>

    </fieldset>

    @Html.ActionLink("Review this Cat!", "ReviewCat", new { id = Model.ID })@*TODO turn into btn*@
</form>