@model c_final_capstone_v2.Models.Cat
@{
    ViewBag.Title = "ViewCat";
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = /*Guid.NewGuid().ToString() + "_" + */Path.GetFileName(Model.PictureId);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);

            Model.PictureId = newFileName;
        }
    }
}

<h2>View Cat!</h2>

<img src="~/Images/@Model.PictureId" />

<div>

    @*<br />
    @Html.DisplayNameFor(model => model.PictureId):
    @Html.DisplayFor(model => Model.PictureId)*@
    <br />
    @Html.DisplayNameFor(model => model.Name):
    @Html.DisplayFor(model => Model.Name)
    <br />
    @Html.DisplayNameFor(model => model.Age):
    @Html.DisplayFor(model => Model.Age)
    <br />
    @Html.DisplayNameFor(model => model.HairLength):
    @Html.DisplayFor(model => Model.HairLength)
    <br />
    @Html.DisplayNameFor(model => model.Skills):
    @Html.DisplayFor(model => Model.Skills)
    <br />
    @Html.DisplayNameFor(model => model.PriorExperience):
    @Html.DisplayFor(model => Model.PriorExperience)
    <br />

    @Html.DisplayNameFor(model => model.PictureId):
    @Html.DisplayFor(model => Model.PictureId)

    @Html.HiddenFor(model => model.ID)

</div>
<head>
    <title>Image Upload</title>
</head>
<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        @*<legend> Upload Image </legend>
            <label for="Image">Image</label>*@
        <div>

            Image*:<br />
            <input type="file" name="pictureId" />@*swicthed from pictureid to name*@
            @{


            }
            <input type="submit" value="Upload" />
            <br />
        </div>

    </fieldset>

</form>

